<form class="login-form">

    <h1>Login!</h1>
    <div>
        <label>Email:</label>
    <input type="text" class="login-email"> 
    </div>
    <div>
        <label>Password:</label>
    <input type="text" class="login-password"> 
    </div>
    <button class="login-button" type = "submit" >Login</button>
    </form>

<form class="signup-form">
     <h1>Signup!</h1>
    <div>
        <label>Username:</label>
    <input type="text" class="signup-username"> 
    </div>
    <div>
        <label>Email:</label>
    <input type="text" class="signup-email"> 
    </div>
    <div>
        <label>Password:</label>
    <input type="text" class="signup-password"> 
    </div>
        <button type="submit" class="signup-button">Sign-up</button>
</form>

    <script src = "/js/login.js"></script>
