<form class="login-form">

    <h1>Login!</h1>
    <div>
        <label>Email:</label>
    <input type="text" id="login-email"> 
    </div>
    <div>
        <label>Password:</label>
    <input type="text" id="login-password"> 
    </div>
   <a><button type = "submit" id="login-button">Login</button></a>
    </form>

<form id="signup-form">
     <h1>Signup!</h1>
    <div>
        <label>Username:</label>
    <input type="text" id="signup-username"> 
    </div>
    <div>
        <label>Email:</label>
    <input type="text" id="signup-email"> 
    </div>
    <div>
        <label>Password:</label>
    <input type="text" id="signup-password"> 
    </div>
        <button>Signup</button>
</form>

<script src="/js/login.js"></script>